<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
<h>posts#index</h>

<div>
  <%= flash[:notice]%>
</div>

<h2>User info</h2>
  <tbody>
       <%= image_tag @user.get_profile_image(100, 100), size: "100x100"%>

   
  <br><th>name</th>
    <th><%= @user.name %></th><br>
  <th>introduction</th>
    <th><%= @user.introduction%></th>

  <%= link_to edit_user_path(@user) do %>
  <i class="fas fa-user-cog"></i>
  <% end %>
  </tbody>

<h2>New post</h2>
 <% if @post.errors.any? %>
 <%= @post.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
 <% end %>
    </ul>
  <% end %>

  <%= form_with model: @post do |f| %>
    <h5>Title</h5>
      <%= f.text_field :title %>
    <h5>Opinion</h5>
      <%= f.text_area :body %>
      <h5>cat image</h5>
 　　　　　 <%= f.file_field :image, accept: "image/*" %>
       <%= f.submit 'Create Post' %>
       <% end %>
    </div>    

<div class="col-md-8 offset-md-1">
  <h2>posts</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>title</th>
          <th>opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
  
<% @posts.each do |post| %>
 <tr>
   <td>
     <%=link_to user_path(post.user) do %>
        <%=image_tag post.user.get_profile_image(100, 100), size: "100x100" %>
     <% end %>
   </td>

    <td><%= link_to post.title,post_path(post.id)%></td>
    <td><%= post.body %></td>
    <td><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>

 </tr>
<% end %>
  </table>