<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
<h1>Posts#show</h1>
<div>
  <%= flash[:notice]%>
</div>

<h2>my page</h2>
  <tbody>
    <%= image_tag @user.get_profile_image(100, 100), size: "100x100"%>

    <th>name</th>
    <th><%= @user.name %></th><br>
    <th>introduction</th>
    <th><%= @user.introduction%></th>

  <%= link_to edit_user_path(@user) do %>
　<i class="fas fa-user-cog"></i>
  <% end %>
  </tbody>

<h2>New post</h2>
 <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <%= form_with model: @post_new do |f| %>
    <h5>Title</h5>
      <%= f.text_field :title %>
    <h5>Opinion</h5>
      <%= f.text_area :body %>
       <h5>cat image</h5>
 　　　　　 <%= f.file_field :image, accept: "image/*" %>
      <%= f.submit 'Create Book' %>
      <% end %>
    </div>

<div class="col-md-8 offset-md-1">
<h2>post detail</h2>
    <div>
        <p>
         <%= link_to @post.title,post_path %>
        </P>
         <%=link_to user_path(@post.user) do %>
         <% end %>

       <p><%= @post.body %></p>

       <% if @post.image.attached? %>
         <p><%= image_tag @post.image.variant(resize: "100x100") %></p>
       <% else %>
         <p>画像がありません</p>
       <% end %>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>

  <%= form_with model: [@post, @post_comment]  do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

        <span>
     <th><%= link_to @user.name,user_path(@post.user) %></th>
     <div>

   </span>

     <% if current_user==@post.user %>
          <%= link_to 'Edit', edit_post_path(@post.id) %>
          <%= link_to 'Destroy', post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
     <% end %>

     <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorite_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorite_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

    <div>
      <%= flash[:success] %>
    </div>
    </div>
    </div>
    </div>
 </main>